/*
Theme Name: Santive
Description: Tema Padrao de Criacao de Projetos Wordpress, possui: JQuery, Flexslider, Fontsawsome, Metaboxes
Author: Luis Eduardo
Version: 1.0
*/

//Css Reset
*{
    margin: 0; 
    padding: 0; 
}

.logo-panel{
    
    height: 200px;
    background-color:  lightcyan;
    
    
    
}


.thumb{
    height: 400px;
    background-color: lightsalmon;
    
}


.footer{
    
    
}